<!-- Modal -->
<div class="modal fade" id="custom-modal" tabindex="-1" role="dialog" aria-labelledby="modal-messageLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content border-success">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">
                    <i class="fas fa-check-circle"></i> Sucesso!
                </h5>
                <!-- Ícone de Fechar -->
                <button type="button" class="btn-close" id="modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div id="modal-message" class="modal-message">Mensagem do modal</div>
            </div>
            <div class="modal-footer">
                <button id="modal-close-btn" class="btn btn-success" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
