<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Detalhes do Evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" id="modalImage" class="img-fluid mb-3" alt="Imagem do Evento">
                <h5 id="modalTitle"></h5>
                <p id="modalDescription"></p>
                <p id="modalDate"></p>
            </div>
            <div class="modal-footer text-center" id="info-eventos-inscricao">
                <button type="button" class="btn btn-green" data-bs-dismiss="modal">Inscrever-se</button>
            </div>
        </div>
    </div>
</div>