<div class="modal fade" id="infoModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Detalhes do Evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" id="modalImage" class="img-fluid mb-3" alt="Imagem do Evento">
                <h5 id="modalTitle"></h5>
                <p id="modalDescription"></p>
                <p id="modalDate"></p>
            </div>
            <input type="hidden" id="user-id" name="user-id">
            <input type="hidden" id="event-id" name="event-id">
            <input type="hidden" id="user-id-saiba" name="user-id">
            <input type="hidden" id="event-id-saiba" name="event-id">
            <div class="modal-footer text-center" id="info-eventos-inscricao">
                <button id="inscreverButton" class="btn btn-primary">Inscrever-se</button>
                <a id="desinscreverButton" class="btn btn-danger" style="display:none;">Desinscrever-se</a>
            </div>
        </div>
    </div>
</div>