<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div class="container">
    <div class="logo-brand">
        <a href="/index.html">
            <img src="/imgs/logo ecoloop.png" alt="fundo de uma floresta">
            <div class="ecoloop">ECOLOOP</div>
        </a>
    </div>
    <button type="button" id="hamburger" class="navbar-toggler collapsed" data-bs-toggle="collapse"
        data-bs-target="#menu-nav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="action navbar navbar-collapse" id="menu-nav">
        <ul id="navbar-links" class="navbar-nav ms-auto">
            <li class="nav-item active">
                <a href="#pontos-coleta">
                    <div class="pontos-de-coleta">Pontos de Coleta</div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#sobre-nos">
                    <div class="sobre-nos">Sobre nós</div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/html/eventos.html">
                    <div class="eventos">Eventos</div>
                </a>
            </li>
            <li class="nav-item">
                <a href="/html/cadastros.html">
                    <div class="cadastro">Cadastro</div>
                </a>
            </li>
            <li class="nav-item">
                <div class="menu-container">
                        <i class="bi bi-person-circle fs-2 menu-button"></i>
                    <div class="menu-dropdown">
                        <a href="#">Minha Conta</a>
                        <a href="#">Minhas Inscrições</a>
                        <a href="#">Sair</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>

