#hero-section {
    position: relative;
}

#hero-section img {
    width: 100%;
    height: auto;
}

#branding,
#slogan {
    position: absolute;
    top: 35%;
    color: var(--neutral-white);
    opacity: 0;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#slogan {
    width: 38rem;
    font-size: 4rem;
    font-weight: 900;
    z-index: 1;
    letter-spacing: -1.3px;
    line-height: 100%;
    animation-name: fadeTextSlogan;
}

#branding {
    font-size: 2rem;
    font-weight: 700;
    width: 700px;
    animation-name: fadeTextBranding;
}

@keyframes fadeTextSlogan {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeTextBranding {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#pontos-coleta .container {
    height: auto;
    padding: 2rem 0;
}

#pontos-coleta .info-coleta,
.linha-projeto {
    padding-top: 5rem;
}

#pontos-coleta h3,
#sobre-projeto h3 {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.88px;
    padding-bottom: 2rem;
}

#map,
#img-projeto {
    width: 100%;
    max-width: 33rem;
    height: auto;
    aspect-ratio: 4 / 3;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

#pontos-coleta p {
    color: var(--primary-color);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.48px;
    text-align: justify;
    padding-right: 2rem;
}


.background-img {
    background-image: url('/imgs/floresta-sobre-nos.png');
    background-repeat: no-repeat;
    height: 800px;
    margin-top: 3rem;
}

.background-img h3 {
    padding-top: 2rem;
    color: var(--neutral-white);
    text-align: center;
    font-size: 2.75rem;
    font-weight: 900;
    line-height: 100%;
}

#sobre-nos .container {
    padding-top: 1.5rem;
}

#sobre-nos p {
    padding-top: 2rem;
    color: var(--neutral-white);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.48px;
}

#sobre-nos a {
    text-decoration: none;
    color: var(--neutral-white);
}

footer {
    height: 13rem;
}

footer .logo-brand p {
    color: var(--neutral-black);
    font-size: 0.7rem;
    font-weight: 500;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer h4 {
    font-weight: 900;
    font-size: 1rem;
}

footer li a {
    text-decoration: none;
    color: inherit;
    font-size: 12px
}

footer li div {
    font-size: 12px;
}

@media (max-width: 768px) {
    #hero-section img {
        height: auto;
        margin-bottom: 0;
    }

    #slogan {
        font-size: 18px;
        width: 100%;
        margin-top: 20px;
    }

    #branding {
        font-size: 10px;
        width: 70%;
        margin-top: 20px;
        top: 20%;
    }

    #pontos-coleta .info-coleta {
        padding-top: 2rem;
    }

    #map {
        width: 100%;
        max-width: 23rem;
        height: auto;
        aspect-ratio: 4 / 3;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }

    #pontos-coleta h3 {
        margin-left: 2.5rem;
    }

    #sobre-nos p {
        margin-top: 2rem;
        margin-left: 3rem;
        width: 20rem;
        font-size: 1rem;
        padding: 0;
        text-align: center;
    }

    #p-texto-coleta {
        margin-left: 2rem;
    }

    .background-img {
        height: 135rem;
        background-repeat: repeat;
    }

    .avatar-equipe {
        margin-left: 7rem;
    }

    .logo-footer a {
        margin-left: 7rem;
    }

    .logo-brand p {
        margin-left: 7.6rem;
    }

    #rodape {
        height: 22rem;
    }

    #sobre-projeto .linha-projeto {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #sobre-projeto h3 {
        font-size: 2rem;
        padding-bottom: 1rem;
        margin-top: 2rem;
    }

    #img-projeto {
        max-width: 23rem;
    }

    #sobre-projeto p {
        font-size: 1rem;
        padding: 0 1rem;
    }


    #sobre-nos .container {
        padding-top: 0;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    #sobre-nos p {
        padding-right: 25rem;
        text-align: center;
        font-size: 1rem
    }

    .avatar-equipe {
        margin: 2rem;
        margin-left: 7rem;
    }

    .background-img {
        height: auto;
        background-repeat: repeat;
    }

    .background-img h4 {
        margin-left: 3.5rem;
    }

    footer .logo-brand p {
        display: none;
    }


    #branding {
        font-size: 16px;
        width: 70%;
        margin-top: 20px;
        top: 30%;
    }

    #sobre-projeto h3 {
        font-size: 2.25rem;
        padding-bottom: 1.5rem;
    }

    #sobre-projeto p {
        font-size: 1.125rem;
        padding: 0 2rem;
        text-align: justify;
    }
}

@media (max-width: 376px) {
    #sobre-nos p {
        margin-left: 1rem;
    }

    .avatar-equipe {
        margin-left: 4.8rem;
    }

    .logo-footer a {
        margin-left: 6rem;
    }

    .logo-brand p {
        margin-left: 6.5rem;
    }

    #map {
        width: 90%;
        max-width: 18rem;
        height: auto;
        aspect-ratio: 4 / 3;
        margin-left: auto;
        margin-right: auto;
    }

    #sobre-projeto h3 {
        font-size: 1.75rem;
    }

    #img-projeto {
        max-width: 18rem;
    }

    #sobre-projeto p {
        font-size: 0.875rem;
        padding: 0 1rem;
    }
}

@media (min-width: 390px) and (max-width: 413px) {
    #sobre-nos p {
        margin-left: 1.7rem;
    }

    .avatar-equipe {
        margin-left: 6rem;
    }

    .background-img h4 {
        margin-left: 1.5rem;
    }

    #map {
        width: 90%;
        max-width: 20rem;
        height: auto;
        aspect-ratio: 4 / 3;
        margin-left: auto;
        margin-right: auto;
    }

    #img-projeto {
        max-width: 20rem;
    }
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Ocultar inicialmente */
    z-index: 1000; /* Ficar acima dos outros elementos */
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#scrollToTopBtn:hover {
    background-color: #0056b3;
}

